.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
coverage/
ormconfig.json

# pnpm
.pnpm-debug.log

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
.nyc_output/

# macOS
.DS_Store